
body{    
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 2.6;
        color: hsl(0, 20%, 4%);
        background-color: rgb(31, 20, 24);
        text-align: center;
        text-decoration: solid;
        color: rgb(48, 9, 9);
        padding-bottom: 20px;
}

.hero {    background: url('my\ background\ img.webp')  no-repeat center/cover;
           height: 95vh;
           width: 200vh;
           position: relative;
           color: white;
           margin-bottom: -50px;
}


.text{  font-size: 55px;
        padding-bottom: -8px;
        color: #2c3e50;
        font-family: serif;
}
 .text2{ font-size: 20px; 
         color: #2c3e50;
         font-family: serif;
         margin-bottom: 50px;
     }



.hero-overlay {

             
             height: 100%;
             display: flex;
             align-items: center;
             justify-content: left;
             padding-top: -20%;
             
}


        

.btn {

           background-color: orange;
           color:white;
           padding: 12px 25px;
           text-decoration: none;
           border-radius: 4px;
           font-weight: bold;
           
}
 


.properties {  
              
              background: rgb(37, 8, 8);
              text-align: center;
              padding: 10px 5%;
              color: black;

              
}


   
.properties-grid {   
       
                display: flex;
                justify-content: space-between;
                gap: 20px;
                margin-top: 2rem;
                flex-wrap: nowrap;
                padding: 2rem;
                font-weight: 500;
                font-size: medium;
                font-style: oblique;
                
        }


.h23{           font-size: 40px; 
                font-family: serif;
                font-style: oblique;
                font-weight: bold;
                color: gold;
  }




.card       {   
                background:white;
                padding: 1rem;
                flex: 1;
                min-width: 250px;
                max-width: 30px;
                color: black;
}

.card img   { 

                width: 150%;
                border-radius: 4px;
                margin: -75px;
                
        }

.why-newsletter {    

                 display: inline-flex;
                 justify-content: space-around;
                 background: rgb(20, 11, 11);
                 flex-wrap: nowrap;
                 gap: 200px;
                 color: black;
                 margin: 20px;
                 padding: 45px 10px;
                 width: -25%;
                 
                
}

.why, .newsletter{  
                   min-width: 350px; 
                   margin-right: 2rem;

                   
   }



.h2{ font-family: serif;
     font-size: 35px;
     padding-bottom: -20px;
     color: chocolate;

}

.h22{ font-family: serif;
      font-size: 35px;
      padding-bottom: -20px ;
      color: chocolate;


}

.Li{ font-size: 20px;
     font-family: serif; 
     font-style: oblique;
     color: brown;
  }

.h20{ font-size: 20px; 
      font-family: serif;
      font-style: oblique;
      color: brown;
 }  

.newsletter form {    

                   margin-top: 1rem;
}

input[type="Email"] {  

                   padding: 10px;
                   width: 70%;
                   border: 1px solid #ccc;
                   border-radius: 4px;
}

button  {  
        
        padding: 10px 15px;
        border: none;
        background-color: #2959c2;
        color: rgb(20, 194, 150);
        border-radius: 4px;
        margin-left: 200px;
        cursor: pointer;
        

}


button:hover {   
                background-color: #d5dbe2;
}